$colors:(
    primary-color: linear-gradient( rgb(95, 2, 201), rgb(3, 83, 221)),
    font-color: #fff,
    primary-light: lighten( #005DFF, 40%),
    primary-dark: darken( #005DFF, 40%),
    secondary-color: rgb(255, 255, 255)

);

$padding: 15px;
$borders: 15px;


@function color($color-name){

    @return map-get($colors, $color-name)
};

$desktop-view: 820px;

@mixin desktop {

    @media (min-width: #{$desktop-view}){
        @content;
    }
}






body, html{

    height: 100%;
}
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;  
   
    #bg{
        background: color(primary-color);
        clip-path: polygon(100% 0, 100% 76%, 59% 100%, 0 100%, 0 0);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        @include desktop {

            clip-path: polygon(0 0, 70% 0, 52% 100%, 0% 100%);
        }
    }

    header a{
        color: color(font-color);
        text-decoration: none;
        padding: $padding;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }
}

main{

    @include desktop {

       display: grid;
       grid-template-columns: 50% auto;
       grid-template-areas: "primary card";
    }

    section#card{

        background: #fff;
        padding:20px;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        width: 80%;

        @include desktop {

            grid-area: card;
            height: fit-content;
            align-self: center;
            margin: 1em;
        }
   

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            margin-bottom:10px;

            span{
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: color(primary-light);
                border-radius: 50%;
                margin-right: 10px;
            }

            strong{
                display: inline-block;
                margin-left: max(40px);
                margin-top: 10px;
                
            }
        }
     }

  }

  section#primary{

    @include desktop {

        grid-area: primary;
        text-align: left;
        margin: 4em 0 0 4em;
    }


    color: color(font-color);
    padding: $padding;
    text-align: center;

    h1{
        font-size: 2.7rem;
        margin-top: 10px;
        text-transform: uppercase;

        @include desktop {

           width: 40%;
           line-height: 1em;
        }
    }

    p{
        font-size: 1.4em;
    }

    a{
        color: color(pirmary-dark);
        border-radius: $borders;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        background-color: color(secondary-color);
        text-align: center;
        margin: 30px auto 0 auto;
        padding: $padding;
        display: block;
    }

    a:hover{
        color: color(pirmary-dark);
        border-radius: $borders;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        background-color: color(primary-light);
        transition: all 0.4s ease;
        text-align: center;
        margin: 30px auto 0 auto;
        padding: $padding;
        display: block;
    }

    
  }
}